* { margin: 0; padding: 0; }
html { overflow-y: scroll; }
body { font-family: 'Syncopate'; background: #000; color: #ffffff; position: relative;}
article, aside, figure, footer, header, hgroup, menu, nav, section { display: block; }
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
#page-wrap { 
	/* control size of the phone */
    width: 400px;
    height: 800px;
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
    margin: auto;
    background: #91c7ff;
    background: linear-gradient(180deg, rgba(219,0,0,1) 0%, rgba(84,3,3,1) 94%);
    background: -moz-linear-gradient(top, #eee, #ccc);
    text-align: center;
}

h1 { font-size: 16px; letter-spacing: 4px; padding: 0 12px 12px; color: #ffffff; margin-bottom: 24px;}
h1.menu { font-size: 32px; letter-spacing: 4px; padding: 14px; color: #ffffff;}
p { margin: 0 0 15px 0; }
 
.thin { font-weight: 200; }
.black { color: #000000; }
.white { color: #ffffff; }
.hide { display: none; }

.btn {
	width: 224px;
    margin: 12px auto;
    background-color: #000000;
    padding: 20px 20px;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
}

.kill-btn {
	width: 224px;
    margin: 34px auto;
    background-color: transparent;
    padding: 20px 20px;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    border: 2px solid #000000;
}

.btn-small {
	width: 224px;
    margin: 6px auto;
    background-color: #000000;
    padding: 12px 20px;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
}

input[type="text"] {
	width: 224px;
    margin: 12px auto;
    background-color: #ffffff;
    padding: 20px 20px;
    font-size: 20px;
    color: #000000;
	text-decoration: none;
	font-family: 'Syncopate';
	border: none;
}

select {
	width: 265px;
    margin: 12px auto;
    background-color: #ffffff;
    padding: 20px 20px;
    font-size: 20px;
    color: #000000;
	text-decoration: none;
	font-family: 'Syncopate';
}

img {
	max-width: 48px;
	margin: 12px auto 0;
}

img.menu {
	max-width: 100px;
	margin: 48px auto 0;
}

img.load {
	max-width: 200px;
	margin: 24px auto;
}

.rotate {
	animation: rotation 4s infinite linear;
}

@keyframes rotation {
from {
	transform: rotate(0deg);
}
to {
	transform: rotate(359deg);
}
}

.game-code {
	width: 224px;
    margin: 12px auto;
    padding: 12px 20px;
	font-size: 20px;
	font-weight: 700;
	background: transparent;
	border: 1px solid #000000;
}

#lobby_result, #end_result {
	list-style: none;
	padding: 0;
}

#countdown_screen {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(180deg, rgba(219,0,0,1) 0%, rgba(84,3,3,1) 94%);
    z-index: 10000;
}
#countdown {
    font-size: 70px;
}

/* game board *********************************************************/

/* layout */
#game-top, #game-map, #game-bottom { 
    position: absolute; 
    width: 100%;
}

#game-top {
    background: rgba(219,0,0,1);
    top: 0;
    height: 130px;
    border-bottom: 1px solid #000000;
    z-index: 1;
}
#game-map {
    background-color: gray;
    top: 130px;
    bottom: 130px;
}
#game-bottom {
    background: rgba(219,0,0,1);
    bottom: 0;
    height: 130px;
    border-top: 1px solid #000000;
}

/* data */
#game-top ul {
    list-style-type: none;
    padding-left: 24px;
    padding-top: 24px;
    text-align: left;
    line-height: 24px;
}

#game-top img {
    position: absolute;
    top: 8px;
    right: 26px;
    max-width: 90px;
}

/* map */
#map {
    width: 100%;
    height: 100%;
}

/* END game board *****************************************************/